build*
__pycache__
*.json
*.root

# CMake - configured files
include/sensitive_detector/SensitiveDetectorBuildOptions.hh
src/physics/Physics.cc

# CMake artifacts
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
build.ninja
